<%= stylesheet_link_tag "addCourse" %>


<nav class= "navbar navbar-expand-sm navbar-light">
<ul class= "navbar-nav">
  <li class = "nav-item"><%= link_to 'Home', page_index_path, :class => "nav-link"%></li>
  <li class= "nav-item"><%= link_to 'Generate Reports', page_adminReport_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%= link_to 'Major Requirements', page_majorRequirements_path, :class => "nav-link" %></li>
  <li class= "nav-item active"><%= link_to 'Add New Course', page_addCourse_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%=link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"%></li>

</ul>
</nav>
<div class = "text-center", "alignment">


  <h2 class="text-center">Add Course</h2>

  <%= form_tag(page_addCourse_path) do%>

    <div class="field">
      <label for=":subCat">Catalog Number (ie CSE 2221)</label><br />
      <input id = "subCat" name="subCat" type="text"/ >
    </div>

    <div class="field">
      <label for=":title">Course Title (ie Software I)</label><br />
      <input id = "title" name="title" type="text"/ >
    </div>

    <div class="field">
        <label for=":MinCH">Minimum Credit Hours</label><br />
        <input id = "MinCH" name="MinCH" type="text"/ >
    </div>

    <div class="field">
        <label for=":MaxCH">Maximum Credit Hours</label><br />
        <input id = "MaxCH" name="MaxCH" type="text"/ >
    </div>

    <div class="actions", "button-padding-top">
        <button class="btn btn-primary btn-block button-top" >Add Class</button>
    </div>
  <% end %>
</div>

