<%= stylesheet_link_tag "adminReport" %>

<nav class= "navbar navbar-expand-sm navbar-light">
<ul class= "navbar-nav">
  <li class = "nav-item"><%= link_to 'Home', page_index_path, :class => "nav-link"%></li>
  <li class= "nav-item active"><%= link_to 'Generate Reports', page_adminReport_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%= link_to 'Major Requirements', page_majorRequirements_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%= link_to 'Add New Course', page_addCourse_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%=link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"%></li>
</ul>
</nav>
<h2>Administrator Report</h2>

<%# <p>Generate a table with users and the courses they have compelted and which ones are still required</p> %>



<table class="center">
<tr>
    <th>Student Email</th>
    <th></th>
</tr>
    <% @Users.each do |u| %>
        <% if u.id != 1 %>
            <tr>
                <td><%= u.email %></td>
                <td><%= link_to 'Generate Report', page_userReport_path(user_id: u.id) %> </td>
            </tr>
        <%end%>
    <%end%>
</table>
