<% if current_user %>
  <h2>Welcome</h2>
  <%=link_to "Sign Out", destroy_user_session_path, method: :delete%>


  <div>
    <%if current_user.admin?%>
      <form action= "/page/adminReport">
        <div>
          <button>Generate Administrator Report</button>
        </div>
      </form>
      <form action= "/page/majorRequirements">
      <div>
        <button>Change Major Requirements</button>
      </div>
    </form>
    <%else%>
      <% if current_user.sign_in_count == 1 && !current_user.admin%>
        <% check = false %>
        <% @DegreeSearch.each do |degree| %>
          <% if degree.user_id == current_user.id %>
           <%check = true %>
            <%end%>
        <%end%>
        <% if !check %>
          <% DegreeInProgress.create(user_id: current_user.id, degree_id: 1) %>
          <%end%>
        <%end%>
      <form action= "/page/studentComplete">
        <div>
          <button>Generate Completed Courses</button>
        </div>
      </form>

      <form action= "/page/studentIncomplete">
        <div>
          <button>Generate Incomplete Courses</button>
        </div>
      </form>
    <%end%>
  
  </div>
  
<%else%>
  <h2>Login or Sign Up</h2>

  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.text_field :email %> </div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %> </div>

    <div><%= f.check_box :remember_me %>
    <%= f.label :remember_me %></div>
    <%= f.submit 'Sign In' %> 
    <%=link_to "Sign Up", new_user_registration_path%>

  <% end %>
<%end%>
