<nav class= "navbar navbar-expand-sm navbar-light">
<ul class= "navbar-nav">
  <li class = "nav-item"><%= link_to 'Home', page_index_path, :class => "nav-link"%></li>
  <li class= "nav-item"><%= link_to 'Generate Reports', page_adminReport_path, :class => "nav-link" %></li>
  <li class= "nav-item active"><%= link_to 'Major Requirements', page_majorRequirements_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%= link_to 'Add New Course', page_addCourse_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%=link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"%></li>


  </ul>
</nav>
<h2>Major Requirements</h2>
<div class = "text-center", "alignment">
<p>Please enter a course you would like to add to the Computer Science Degree</p>
<div class = "add">
<%= form_tag(page_majorRequirements_path) do %>
    <%= text_field_tag 'category' %>
<%end%>


<% added = 0 %>
<% if @search != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @search.subCat && !CourseMapping.exists?(course_id: c.id) %>
            <p>Successfully added <%= @search.subCat %> as a degree requirement!</p>
            <% added = 1 %>
            <% CourseMapping.create(course_id: c.id, degree_id: 1) %>
        <%end%>
    <%end%>
<% elsif @search == nil %>
<% if added == 0 %>
    <% if @search == nil && params[:category] != nil %>
        <p><%= params[:category] %> does not exist as a course.</p>
    <% elsif @search != nil %>
        <p><%= @search.subCat %> is already a degree requirement!</p>
    <%end%>
<%end%>
<%end%>
</div>



<div class = "remove">
<% remove = 0 %>
<%= form_tag(page_majorRequirements_path) do %>
    <%= text_field_tag 'categoryRemove' %>
<%end%>
<% if @searchRemove != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @searchRemove.subCat && CourseMapping.exists?(course_id: c.id) %>
            <p>Successfully removed <%= @searchRemove.subCat %> as a degree requirement!</p>
            <% removed = 1 %>
            <% CourseMapping.find_by(course_id: c.id, degree_id: 1).destroy %>
        <%end%>
    <%end%>
<%end%>
<% if remove == 0 %>
    <% if @searchRemove == nil && params[:categoryRemove] != nil %>
        <p><%= params[:categoryRemove] %> does not exist as a course.</p>
    <% elsif @searchRemove != nil %>
        <p><%= @searchRemove.subCat %> is not a degree requirement!</p>
    <%end%>
<%end%>

</div>
<h3>Courses Required For Major</h3>
<table class="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>
    
    <% @Mappings.each do |mapping| %>
        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
        <tr>
        <td><%= thisCourse.subCat %></td>
        <td><%= thisCourse.title %></td>
        </tr>
    <%end%>
</table>
</div>
