<h2>Major Requirements</h2>
<p>Please enter a course you would like to add to the Computer Science Degree</p>

<%= form_tag(page_majorRequirements_path) do %>
    <%= text_field_tag 'category' %>
<%end%>

<% added = 0 %>
<% if @search != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @search.subCat && !CourseMapping.exists?(course_id: c.id) %>
            <p>Successfully added <%= @search.subCat %> as a degree requirement!</p>
            <% added = 1 %>
            <% CourseMapping.create(course_id: c.id, degree_id: 1) %>
        <%end%>
    <%end%>
<%end%>
<% if added == 0 %>
    <% if @search == nil && params[:category] != nil %>
        <p><%= params[:category] %> does not exist as a course.</p>
    <% elsif @search != nil %>
        <p><%= @search.subCat %> is already a degree requirement!</p>
    <%end%>
<%end%>

<h3>Courses Required For Major</h3>
<table>
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>
    
    <% @Mappings.each do |mapping| %>
        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
        <tr>
        <td><%= thisCourse.subCat %></td>
        <td><%= thisCourse.title %></td>
        </tr>
    <%end%>
</table>

<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>
