<%= stylesheet_link_tag "page" %>

<nav class= "navbar navbar-expand-sm navbar-light">
<ul class= "navbar-nav">
  <li class = "nav-item"><%= link_to 'Home', page_index_path, :class => "nav-link"%></li>
  <li class= "nav-item"><%= link_to 'Generate Reports', page_adminReport_path, :class => "nav-link" %></li>
  <li class= "nav-item active"><%= link_to 'Major Requirements', page_majorRequirements_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%= link_to 'Add New Course', page_addCourse_path, :class => "nav-link" %></li>
  <li class= "nav-item"><%=link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"%></li>


  </ul>
</nav>
<h2 class="text-center">Major Requirements</h2>
<div class = "text-center", "alignment">
<div class = "entering">
<div class = "center">
<p>Enter a Course to add to the Computer Science Degree</p>

<%= form_tag(page_majorRequirements_path) do %>
    <%= text_field_tag 'category', nil, autocomplete: :off %>
<%end%>

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script>
    const courseArr = [];
    <% @Courses.each do |course| %>
        courseArr.push("<%= course.subCat %>");
    <%end%>
    const autoCompleteJS = new autoComplete({
        selector: "#category",
        placeHolder: "Example: CSE 3901",
        data: {
            src: courseArr,
            cache: true,
        },
        resultItem: {
            highlight: true
        },
        submit: true,
        events: {
            input: {
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    autoCompleteJS.input.value = selection;
                }
            }
        }
    });
</script>

<% added = 0 %>
<% if @search != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @search.subCat && !CourseMapping.exists?(course_id: c.id) %>
            <p>Successfully added <%= @search.subCat %> as a degree requirement!</p>
            <% added = 1 %>
            <% CourseMapping.create(course_id: c.id, degree_id: 1) %>
        <%end%>
    <%end%>
<%end%>
<% if added == 0 %>
    <% if @search == nil && params[:category] != nil %>
        <p><%= params[:category].to_s.upcase %> does not exist as a course.</p>
    <% elsif @search != nil %>
        <p><%= @search.subCat %> is already a degree requirement!</p>
    <%end%>
<%end%>
</div>


<div class = "center">
<p>Enter a Course to remove from the Computer Science Degree</p>

<%= form_tag(page_majorRequirements_path) do %>
    <div class="autoComplete_wrapper">
    <%= text_field_tag 'categoryRemove', nil, autocomplete: :off, placeholder: "Example: CSE 3901"%>
    </div>
<%end%>

<% remove = 0 %>
<% if @searchRemove != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @searchRemove.subCat && CourseMapping.exists?(course_id: c.id) %>
            <p>Successfully removed <%= @searchRemove.subCat %> as a degree requirement!</p>
            <% remove = 1 %>
            <% CourseMapping.find_by(course_id: c.id, degree_id: 1).destroy %>
        <%end%>
    <%end%>
<%end%>
<% if remove == 0 %>
    <% if @searchRemove == nil && params[:categoryRemove] != nil %>
        <p><%= params[:categoryRemove].to_s.upcase %> does not exist as a course.</p>
    <% elsif @searchRemove != nil %>
        <p><%= @searchRemove.subCat %> is not a degree requirement!</p>
    <%end%>
<%end%>
</div>
</div>
<h3>Courses Required For Major</h3>
<table class="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>
    
    <% @Mappings.each do |mapping| %>
        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
        <tr>
        <td><%= thisCourse.subCat %></td>
        <td><%= thisCourse.title %></td>
        </tr>
    <%end%>
</table>
</div>
