<%= stylesheet_link_tag "page" %>

<nav class= "navbar navbar-expand-sm navbar-light">
<ul class= "navbar-nav">
  <li class = "nav-item "><%= link_to 'Home', page_index_path, :class => "nav-link"%></li>
  <li class = "nav-item active"><%= link_to 'Degee Audit', page_studentComplete_path, :class => "nav-link"%></li>
  <li class = "nav-item"><%=link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"%></li> 

</ul>
</nav>
<h2 class="text-center">Student Degree Audit</h2>
<div class = "text-center", "alignment">
<p>Enter a course that has been completed</p>



<%= form_tag(page_studentComplete_path) do %>
    <%= text_field_tag 'category', nil, autocomplete: :off %>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script>
    const courseArr = [];
    <% @Courses.each do |course| %>
        courseArr.push("<%= course.subCat %>");
    <%end%>
    const autoCompleteJS = new autoComplete({
        selector: "#category",
        placeHolder: "Example: CSE 3901",
        data: {
            src: courseArr,
            cache: true,
        },
        resultItem: {
            highlight: true
        },
        submit: true,
        events: {
            input: {
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    autoCompleteJS.input.value = selection;
                }
            }
        }
    });
</script>

<% added = 0 %>
<% if @search != nil %>
    <% @Courses.each do |c| %>
        <% if c.subCat == @search.subCat && !FinishedCourse.exists?(user_id: current_user.id, course_id: c.id) %>
            <p>Successfully added <%= @search.subCat %> as a finished course!</p>
            <% added = 1 %>
            <% FinishedCourse.create(user_id: current_user.id, course_id: c.id) %>
        <%end%>
    <%end%>
<%end%>
<% if added == 0 %>
    <% if @search == nil && params[:category] != nil %>
        <p><%= params[:category].to_s.upcase %> does not exist as a course.</p>
    <% elsif @search != nil %>
        <p>You have already finished <%= @search.subCat %>.</p>
    <%end%>
<%end%>

<h3 class="text-center">Completed Major Courses</h3>
<table class ="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == current_user.id %>
            <% @Mappings.each do |mapping| %>
                <% if mapping.degree_id == degree.degree_id %>
                    <% check = false %>
                    <% @Finished.each do |finished| %>
                        <% if current_user.id == finished.user_id && finished.course_id == mapping.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if check %>
                        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
</table>

<h3 class="text-center">Incomplete Major Courses</h3>
<table class="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>
    
    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == current_user.id %>
            <% @Mappings.each do |mapping| %>
                <% if mapping.degree_id == degree.degree_id %>
                    <% check = false %>
                    <% @Finished.each do |finished| %>
                        <% if current_user.id == finished.user_id && finished.course_id == mapping.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if !check %>
                        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
</table>

<h3 class="text-center">Completed Non-Major Courses</h3>
<table class="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == current_user.id %>
            <% @Finished.each do |finished| %>
                <% if finished.user_id == current_user.id %>
                    <% check = false %>
                    <% @Mappings.each do |mapping| %>
                        <% if mapping.degree_id == degree.degree_id && mapping.course_id == finished.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if !check %>
                        <% thisCourse = @Courses.find_by(id: finished.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
</table>
</div>