<h2>Student Incomplete Courses Report</h2>
<p>Generate a table with users and the courses still need to complete</p>
<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>


<%= form_tag(page_studentIncomplete_path) do %>
    <%= text_field_tag 'category' %>
<% end %>

<% added = 0 %>
<%@Courses.each do |c|%>
    <% @search.each do |s|%>
        <%if c.subCat == s.subCat && !FinishedCourse.exists?(user_id: current_user.id, course_id: c.id)%>
            <p>Successfully added <%= s.subCat%>!</p>
            <%added = 1%>
            <%FinishedCourse.create(user_id: current_user.id, course_id: c.id)%>
        <%end%>
    <%end%>
<%end%>
<%if added == 0%>
    <% @search.each do |s|%>
        <p>Could not add <%= s.subCat%>.</p>
    <%end%>
<%end%>

<table>




    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

<% @DegreeProgress.each do |degree| %>
    <% if degree.user_id == current_user.id %>
         <% @Mappings.each do |mapping| %>
            <% if mapping.degree_id == degree.degree_id %>
                <% check = false %>
                 <% @Finished.each do |finished| %>
                    <% if current_user.id == finished.user_id && finished.course_id == mapping.course_id%>
                        <% check = true %>
                     <%end%>
                <% end %>
                <% if !check %>
                    <% @Courses.each do |course| %>
                       <% if course.id ==  mapping.course_id %>
                            <tr>
                             <td><%= course.subCat %></td>
                             <td><%= course.title %></td>
                            </tr>
                        <%end%>
                    <%end%>
                <% end %>
            <%end%>
        <%end%>
    <%end%>
<%end%>
</table>
