<h2>Student Report</h2>

<div class = "text-center", "alignment">
<h3>Completed Major Courses</h3>
<table class ="center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == @report.id %>
            <% @Mappings.each do |mapping| %>
                <% if mapping.degree_id == degree.degree_id %>
                    <% check = false %>
                    <% @Finished.each do |finished| %>
                        <% if @report.id == finished.user_id && finished.course_id == mapping.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if check %>
                        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>

</table>

<h3>Incomplete Major Courses</h3>
<table class = "center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == @report.id %>
            <% @Mappings.each do |mapping| %>
                <% if mapping.degree_id == degree.degree_id %>
                    <% check = false %>
                    <% @Finished.each do |finished| %>
                        <% if @report.id == finished.user_id && finished.course_id == mapping.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if !check %>
                        <% thisCourse = @Courses.find_by(id: mapping.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>

</table>

<h3>Completed Non-Major Courses</h3>
<table class = "center">
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

    <% @DegreeProgress.each do |degree| %>
        <% if degree.user_id == @report.id %>
            <% @Finished.each do |finished| %>
                <% if finished.user_id == @report.id %>
                    <% check = false %>
                    <% @Mappings.each do |mapping| %>
                        <% if mapping.degree_id == degree.degree_id && mapping.course_id == finished.course_id %>
                            <% check = true %>
                        <%end%>
                    <%end%>
                    <% if !check %>
                        <% thisCourse = @Courses.find_by(id: finished.course_id) %>
                        <tr>
                        <td><%= thisCourse.subCat %></td>
                        <td><%= thisCourse.title %></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
</table>

<form action="/page/adminReport">
    <div>
        <button class= "btn btn-primary btn-block button-top">Back to All Reports</button>
    </div>
</form>